@import 'parameters';
@import 'mixins';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';


@media screen and (max-width:1200px) {
    html {
        font-size:20px;
    }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
    html {
        font-size:25px;
    }
}
@media screen and (min-width:1400px) {
    html {
        font-size:30px;
    }
}




/******************************************************************************
    GENERAL
******************************************************************************/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    font-family: $baseFontFamily;
    font-size: percentage($baseFontSize / 16);
    line-height: $baseline-ratio;
    background: $nav-color; 
    color: $nav-link-color;
    text-emphasis: 1px bold;
    height: 100%;
}
p {
    @include margin-bottom($baseFontSize);
    hyphenate: auto;
    hyphenate-lines: 3;
}
.container {
    height: 100%;
}
    .flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flexbox;
        display: flex;
        height: 100%;
    }
div.bloc { 
    -webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
    text-align: center;
    width: 100%;
}

/******************************************************************************
    FOOTER
******************************************************************************/
footer {
    background-color: $nav-color;
    color: $grey-footer;
    padding-top: 30px;
    border-top: 1px solid $white;
    position: relative;
    z-index: 1000;
    h3 {
        margin-top: 0;
    }
    ul {
        li {
            a, a:hover, a:focus  {
                color: $grey-footer;
                //font-size: 12px;
            }
        }
    }
    address {
        color: $white;
        strong {
            color: $red;
        }
    }
    p, a {
        font-size: 0.8em;
        line-height: 1em;
    }
}
.footer-bottom {
    border-top: 1px $white solid;
    margin-top: 20px;
    padding-bottom: 50px;
    .text {
        font-size: 0.7em;
    }
}

address {
    font-size: 0.8em;
}










.red {
    color: $red;
}